<h1 mat-dialog-title>Hi the best Athor!!!</h1>
<div mat-dialog-content>
    <p>Edit your post ?</p>
    <mat-form-field>
        <input matInput placeholder="data.title" value="data.title" [(ngModel)]="post.title">
    </mat-form-field>
    <mat-form-field>
        <textarea matInput placeholder="data.description" value="data.description" [(ngModel)]="post.description"></textarea>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="cancelClick()">Cancel</button>
    <button mat-button (click)="editPost()" cdkFocusInitial>Edit</button>
</div>
