<header class="header">

    <nav>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/logout" routerLinkActive="active">Logout</a>
            </li>
            <!--<li class="nav-item">
                <a class="nav-link" routerLink="/add">Add</a>
            </li>-->
        </ul>
    </nav>

    <h1 class="text-muted">Hello Angular</h1>

</header>

<main role="main">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque voluptas ullam optio aliquam rem illum ducimus,
        sed veniam accusantium blanditiis in eligendi, et vero suscipit voluptate minus quis? Natus, deleniti?</p>
    <app-list-post></app-list-post>
</main>

<footer class="footer">
    <p>&copy; Company {{yearBuilt}}</p>
</footer>