<header class="header">

    <nav>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active" routerLink="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/logout">Logout</a>
            </li>
            <!--<li class="nav-item">
                <a class="nav-link" routerLink="/add">Add</a>
            </li>-->
        </ul>
    </nav>
    
    <h1 class="text-muted">Hello Angular</h1>

</header>

<main role="main">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque voluptas ullam optio aliquam rem illum ducimus, sed veniam accusantium blanditiis in eligendi, et vero suscipit voluptate minus quis? Natus, deleniti?</p>
    <app-list-post></app-list-post>
    <app-add-post></app-add-post>    
</main>

<footer class="footer">
    <p>&copy; Company {{yearBuilt}}</p>
</footer>