<section>

    <header>
        Task: <strong>{{commonService.date | async | moment: "DD MMMM YYYY"}}</strong>
        <hr>
    </header>

    <main>

        <mat-button-toggle-group name="group-btn" class="group-btn" aria-label="Group of btn">
            <mat-button-toggle class="btn-toggle" value="sort">
                <mat-icon>sort</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle class="btn-toggle" value="search" (click)="toggleSearch()">
                <mat-icon>search</mat-icon>
            </mat-button-toggle>
        </mat-button-toggle-group>

        <app-task-search [visible]="visibleInput"></app-task-search>

        <ul *ngIf="tasks.length; else notice">
            <li class="task" *ngFor="let task of tasks; let i = index">
                <span>
                    Id: <strong>{{i + 1}}</strong>
                    Title: <strong>{{task.title}}</strong>
                </span>
                <button mat-icon-button color="accent" (click)="removeTask(task)">
                    <mat-icon>delete</mat-icon>
                </button>
            </li>
        </ul>

        <ng-template #notice>
            <div>Tasks does not exist yet! Fill in your tasks!</div>
        </ng-template>

    </main>

    <footer>
        <form class="form-task" (ngSubmit)="createTask()" [formGroup]="taskForm">
            <label for="task">Put your task:
                <input type="text" id="task" class="form-control" placeholder="Put your task" name="title"
                    formControlName="title" required autocomplete="on">
            </label>
            <button mat-raised-button color='primary' type="submit" [disabled]="taskForm.invalid">Submit</button>
        </form>
    </footer>

</section>