<header class="header">

    <nav>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/logout" (click)="logout()" routerLinkActive="active">Logout</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="organize" routerLinkActive="active">Organizer</a>
            </li>
        </ul>
    </nav>

</header>